
body {
	font-family: 'Verdana', sans-serif;
	background: white;
}

.page-wrapper {
	max-width: 800px;
}

.toot {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 2rem;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.reference {
	padding-left: 1rem;
	color: gray;
	background: white;
}

.column-1 {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}
.column-9 {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 9;
}

.avatar {
	height: 100%;
}
.avatar img {
	max-width: 64px;
	border-radius: 50%;
}

.content {
	background: whitesmoke;
	padding: 0 0 1rem 1rem;
}
  
